<div class="title-frame">
    <span class="title">TEMPERATURE & HUMIDITY MONITOR</span>
    <div id="metamask" class="mm-logo"></div>
    <a href="https://metamask.io/" target="_blank" class="metamask-title">Metamask Required (<span style="color: #e74c3c">Ropsten</span>)</a>
    <div class="title-bar"></div>
</div>
<div class="current-data-frame">
  <canvas id="temperature-circle" width="320" height="320"></canvas>
  <canvas id="humidity-circle" width="320" height="320"></canvas>
  <span id="timestamp">{{time}}</span>
</div>
<div class="history-data-list">
  <span class="history-title">HISTORY</span>
  <div class="history-bar"></div>
  <div class="history-table">
    <div class="history-item" *ngFor="let item of getDataItems()">
      <span class="history-time">{{ item.celsius.getTimestamp() }}</span>
      <span class="history-humidity">{{ item.humidity.getValue() }}%</span>
      <span class="history-celsius">{{ item.celsius.getValue() }}&#8451;</span>
    </div>
  </div>
</div>
<div class="history-data-frame" #historydataframe>
    <canvas id="temperature-humidity-chart"></canvas>
</div>
