/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    margin: 0;
}